@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./gorgeous-clouds-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height:500px;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 20px 70px;
    color: #fff;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;  
    font-weight: 700;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, .6);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 10px 0;
}

.current-info .weather-item {
    display: flex;
    justify-content: space-between;
}

.future-forecast {
    background-color: rgba(24, 24, 27, .8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color:#fff;
    overflow-x: scroll;
}

.future-forecast::-webkit-scrollbar {
    display: none;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 12px;
}

.future-forecast .today .day {
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
    background-color: #3c3c44;
}

.future-forecast .today .temp {
    font-size: 20px;
    padding-top: 15px;
    font-weight: 300;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 12px;
}

.weather-forecast .weather-forecast-item .day {
    padding: 2px 15px;
    background-color: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
    
    .future-forecast::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 30px;
    }

    .date-container .time {
        font-size: 50px;
    }
    
    .date-container #am-pm {
        font-size: 25px;
        margin-left: 8px;
    }
    
    .date-container .date {
        font-size: 20px;
    }
    
    .place-container {
        text-align: end;
    }
    
    .place-container .time-zone {
        margin-top: 10px;
        font-size:22px;
        font-weight: 100;
    }
    
    .place-container .country{
        font-size: 12px;  
        font-weight: 700;
    }
}